@model System.Int32

@{
  ViewBag.Title = "Detail";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div data-bind="with: customer" class="col-sm-6 col-sm-offset-1">
    <h2><span data-bind="text: Symbol"></span>&nbsp;<small data-bind="text: Name"></small></h2>
  </div>
</div>
<!-- Contact fields -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Contacts</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: contacts">
        <tr>
          <td data-bind="text: cFullName"></td>
          <td data-bind="text: Email"></td>
          <td>
            <button data-bind="click: $parent.selectContact"
                    class="btn btn-primary btn-small" data-toggle="modal"
                    data-target="#contactDetail">
              Details
              </button>
            <button data-bind="click: $parent.deleteContact"
                    class="btn btn-danger btn-small">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Credential fields -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Credentials</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Password</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: credentials">
        <tr>
          <td data-bind="text: cFullUN"></td>
          <td data-bind="text: Password"></td>
          <td>
            <button data-bind="click: $parent.selectCredential"
                    class="btn btn-primary btn-small" data-toggle="modal"
                    data-target="#credentialDetail">
              Details
            </button>
            <button data-bind="click: $parent.deleteCredential"
                    class="btn btn-danger btn-small">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Node fields -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Nodes</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: nodes">
        <tr>
          <td data-bind="text: Name"></td>
          <td data-bind="text: Address"></td>
          <td>
            <button data-bind="click: $parent.selectNode"
                    class="btn btn-primary btn-small" data-toggle="modal"
                    data-target="#nodeDetail">
              Details
            </button>
            <button data-bind="click: $parent.deleteNode"
                    class="btn btn-danger btn-small">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Turn our model into JSON -->
@section scripts {
<script type="text/javascript">
  var MODEL = { CustomerID: @Model};
</script>
<!-- Dem scritps -->
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/Site/Left4EditModels.js"></script>
<script type="text/javascript" src="~/SCripts/Site/Customer_Detail_VM.js"></script>

<!-- Contact editor modal -->
@Html.Action(
  "ContactEditor", 
  new { 
    targetProperty = "activeContact", 
    commandName = "$parent.commitContact" 
  }
)

<!-- Credential editor modal -->
@Html.Action(
  "CredentialEditor",
  new {
    targetProperty = "activeCredential",
    commandName = "$parent.commitCredential"
  }
)

<!-- Node editor modal -->
@Html.Action(
  "NodeEditor",
  new {
    targetProperty = "activeNode",
    commandName = "$parent.commitNode"
  }
)
}