@model System.Int32 

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div data-bind="with: customer" class="col-sm-6 col-sm-offset-1">
    <h2><span data-bind="text: Symbol"></span>&nbsp;<small data-bind="text: Name"></small></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-1 well">
    <h3>Contacts</h3>
    <div data-bind="foreach: contacts">
      <div class="col-sm-4">
        <h3 data-bind="text: cFullName"></h3>
        <h5 data-bind="text: Email"></h5>
        <button data-bind="click: $parent.selectContact" class="btn btn-primary btn-small" data-toggle="modal" data-target="#contactDetail">Details</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/Site/Left4EditModels.js"></script>
<script type="text/javascript">
  $(function () {
    function DetailVM() {
      // Members
      this.customer = ko.observable();
      this.credentials = ko.observableArray([]);
      this.nodes = ko.observableArray([]);
      this.contacts = ko.observableArray([]);

      this.newCredential = ko.observable();
      this.newContact = ko.observable();
      this.nweNode = ko.observable();

      this.activeContact = ko.observable();
      // Warning
      this.showWarning = ko.observable(false);
      this.warningMessage = ko.observable("");
      // Error
      this.showError = ko.observable(false);
      this.warningMessage = ko.observable("");
      // Visibility Assignment
      var self = this;
      var credentials
      var hub = $.connection.customerHub;
      // End of Members

      // Client functions (Server called)
      hub.client.returnCustomerByID = function (customer) {
        self.customer(new Left4Edit.customer(customer.ID, customer.Name, customer.Symbol));
        customer.Nodes.forEach(function (item) {
          self.nodes.push(new Left4Edit.node(item.ID, item.Name, item.Address, item.ConnectionComment, self.customer));
        });
        customer.Contacts.forEach(function (item) {
          self.contacts.push(new Left4Edit.contact(item.ID, item.FirstName, item.LastName, item.Email, item.Phone, item.Fax, item.CustomerID));
        });
        customer.Credentials.forEach(function (item) {
          self.credentials.push(new Left4Edit.credential(item.ID, item.Domain, item.UserName, item.Password));
        });
      }
      // End of Client Functions

      // Commands
      this.getCustomer = function (custID) {
        hub.server.getCustomerByID(custID);
      }
      this.selectContact = function (contact) {
        self.activeContact(
          new Left4Edit.contact(contact.ID(), contact.FirstName(), contact.LastName(), contact.Email(), contact.Phone(), contact.Fax(), contact.CustomerID())
        );
      }
      this.commitContact = function () {
        var c = self.activeContact();
        // passed function omits calculated fields
        hub.server.updateContact(ko.toJS(c, function (key, value) {
          if (key.charAt(0) == 'c')
            return;
          else
            return value;
        }));
      }
      // End of Commands

      // Constructor
      this.init = function () {
        hub.server.register("customer:@Model");
        self.getCustomer(@Model);
      }
      // End of Constructor
    }

    // Init
    var vm = new DetailVM();
    $.connection.hub.start(function () { vm.init() });
    ko.applyBindings(vm);
  });
</script>

<div class="modal fade" id="contactDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div data-bind="with: activeContact" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalTitle">Add Customer</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input type="text" data-bind="value: cFullName" class="form-control" placeholder=" (ie ASA)" />
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">Email</span>
          <input type="text" data-bind="value: Email" class="form-control" placeholder=" (ie AGC North America" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-bind="click: $parent.commitContact" data-dismiss="modal" class="btn btn-primary btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>