@model System.Int32

@{
  ViewBag.Title = "Detail";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div data-bind="with: customer" class="col-sm-6 col-sm-offset-1">
    <h2><span data-bind="text: Symbol"></span>&nbsp;<small data-bind="text: Name"></small></h2>
  </div>
</div>
<!-- Contact fields -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Contacts</h3>
    <div data-bind="foreach: contacts">
      <div class="col-sm-4">
        <h3 data-bind="text: cFullName"></h3>
        <h5 data-bind="text: Email"></h5>
        <button data-bind="click: $parent.selectContact"
                class="btn btn-primary btn-small" data-toggle="modal"
                data-target="#contactDetail">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Credential fields -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Credentials</h3>
    <div data-bind="foreach: credentials">
      <div class="col-sm-4">
        <h5 data-bind="text: cFullUN"></h5>
        <h5 data-bind="text: Password"></h5>
        <button data-bind="click: $parent.selectCredential"
                class="btn btn-primary btn-small" data-toggle="modal"
                data-target="#credentialDetail">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Node fields -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h3>Nodes</h3>
    <div data-bind="foreach: nodes">
      <div class="col-sm-4">
        <h3 data-bind="text: Name"></h3>
        <h5 data-bind="text: Address"></h5>
        <button data-bind="click: $parent.selectNode"
                class="btn btn-primary btn-small" data-toggle="modal"
                data-target="#nodeDetail">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Turn our model into JSON -->
<script type="text/javascript">
  var MODEL = { CustomerID: @Model};
</script>
<!-- Dem scritps -->
<script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.signalR-2.0.1.min.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
<script type="text/javascript" src="/Scripts/Site/Left4EditModels.js"></script>
<script type="text/javascript" src="~/SCripts/Site/Customer_Detail_VM.js"></script>

<!-- Contact editor modal -->
@Html.Partial("ContactEditor")

<!-- Credential editor modal -->
@Html.Partial("CredentialEditor")

<!-- Node editor modal -->
@Html.Partial("NodeEditor")